@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');
:root {
    --moderate-cyan : hsl(176, 50%, 47%);
    --dark-cyan : hsl(176, 72%, 28%);

    --black : hsl(0, 0%, 0%);
    --dark-gray : hsl(0, 0%, 48%);

    --white-color : hsl(0, 0%, 100%);
}

/*RESETS*/

/*general*/

/*box-sizing*/
*, *:before, *:after {
    box-sizing: border-box;
}

.no-transition * {
    transition: none;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p
 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

p {
    color: var(--dark-gray)
}
/*makes image easier to work with*/
img, picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

ul, li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: var(--white-color);
    padding: 1rem;
}
/* UTILITY CLASS */
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap ;
}
.white-bg {
    background-color: var(--white-color);
    border-radius: .8rem;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-700 {
   font-weight: 700;
}
.relative {
    position: relative;
}
/* Set core body defaults */
body {
    min-height: 100vh;
    background-image: url(./images/image-hero-desktop.jpg);
    background-repeat: no-repeat;
    font-size: 1rem;
    background-color: hsl(0, 0%, 93%);
    font-family: 'Commissioner', sans-serif;
    scroll-behavior: smooth;
}
@media screen and (min-width: 90rem) {
    body {
        background-size: contain;
    }
}

/* buttons styling */
.btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: .5rem 2.1rem;
    font-weight: 500;
    border-radius: 1.6rem;
}
.btn-cyan {
   background-color: var(--moderate-cyan); 
   color: var(--white-color);
}
header {
    width: 80%;
    margin-inline: auto;
    padding-block: 2rem;
}
.mobile-nav-btn-container {
    display: none;
}
.welcome-page-section {
    width: 50%;
    min-width: 15rem;
    margin-inline: auto;
    margin-top: 14%;
    position: relative;
    text-align: center;
    font-size: 1em;
    line-height: 1.5;

}
.mastercraft-logo {
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
}
section {
    margin-bottom: 1rem;
}
/* intro-section */
.intro-section {
    line-height: 2;
    padding: 2.2rem 2rem;
}
.intro-section h1 {
    font-size: clamp(1.1rem, 1.35rem, 3rem );
}
.support-project-container {
    margin-top: 1.5rem;
}
.bookmark-container {
    background-color: hsla(0, 0%, 48%, .25);
    border-radius: 1.6rem;
}
.bookmark-container svg {
    cursor: pointer;
}
.bookmark-container p {
    margin-inline: 1rem
    /* color: var(--black); */
}

/* bookmark active */
.bookmarked circle {
    fill: var(--moderate-cyan);
}
.bookmarked path {
    fill: var(--white-color);
}
.bookmarked p {
    color: var(--moderate-cyan);
}
/* PROGRESS SECTION */
.progress-section {
    padding: 2.2rem 2rem;
    text-align: left;
    
}
.progress-container {
    justify-content: unset;
}
.progress-section p {
    color: var(--black);
    font-size: 2.2rem;
    font-weight: 700;
}
.progress-section p > span {
    display: block;
    font-size: 1rem;
    color: var(--dark-gray);
}
.cash-progress {
    padding-right: 3rem;
    border-right: 1px solid var(--dark-gray);
}
.backers-progress {
    padding-left: 3rem;
    min-width: 40%;
}
.backers-progress p:first-child {
    margin-right: .5rem;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: .6rem;
    background-color: hsl(0, 0%, 93%);
    margin-top: 1rem;
    border-radius: .5rem;
}
.current-progress {
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: var(--moderate-cyan);
    border-radius: .5rem;
}

/* ABOUT PROJECT SECTION */
.about-project {
    text-align: left;
    padding: 3rem;
}
.about-project article h1 {
    font-size: 1.3em;
    margin-bottom: 3rem;
}
.about-project article p {
    font-size: 1.1rem;
    margin-block: 1rem;
}
.support-category {
    padding: 1.3rem 2rem;
    border: 1px solid hsl(0, 0%, 82%);
    border-radius: .7rem;
    margin-top: 2rem;
}
.support-category h1 {
    font-size: 1.25rem;
}
.support-category h2 {
    display: flex;
    align-items: center;
}
.support-category h2 > span {
    font-size: 1rem;
    margin-left: .5rem;
    color: var(--dark-gray);
}
.support-category p {
    margin-block: .5rem;
}
.cyan-color {
    color: var(--moderate-cyan);
}

/* OUT OF STOCK */
.out-of-stock {
    opacity: .5;
    pointer-events: none;
}
.out-of-stock p, .out-of-stock h1  {
    color: var(--dark-gray) !important;
}
.out-of-stock .btn {
    background-color: var(--dark-gray) !important;
}


/* MODALS*/

.modal {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: hsla(0, 0%, 0%, .5);
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease ;
}
.show-modal {
    opacity: 1;
    pointer-events: auto;
}
.modal-container {
    position: absolute;
    width: 50%;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white-color);
    padding: 2rem;
    border-radius: .8rem;
}
.modal-header {
    line-height: 2;
}
.modal-header h1 {
    font-size: 1.3rem;
}
.modal-header i {
    font-size: 1.5rem;
    opacity: .5;
    cursor: pointer;
    font-weight: 700;
    transition: opacity 0.1s ease;
}
.modal-header i:hover {
    opacity: 1;
}
.container {
    border: 1px solid hsl(0, 0%, 82%);
    border-radius: .5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    position: relative;
    transition: all 0.08s ease-in;
}
.green-border {
    border: 2px solid var(--moderate-cyan);
}
.option-container {
    display: flex;
    padding: 1rem !important;
}
.option-container h1 {
    font-size: 1rem;
    margin-bottom: .5rem;
    color: var(--black);
}
.option-container:hover h1 {
    color: var(--moderate-cyan);
}

.label-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
    margin-top: .3rem;
    margin-left: .1rem;
}
.custom-radio-btn {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid hsl(0, 0%, 82%);
    border-radius: 50%;
}
.container:hover input ~ .custom-radio-btn {
    border: 1px solid var(--moderate-cyan);
}

.custom-radio-btn::after {
    content: "";
    position: absolute;
    display: none;
}

.label-container input:checked ~ .custom-radio-btn::after {
    display: block;
}

.custom-radio-btn::after {
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--moderate-cyan);
}

.option-content {
    margin-left: 2.5rem;
    padding-bottom: 1.2rem;
    cursor: pointer;
}
.option-content h1 > span {
    margin-left: 1rem;
}
.option-content h2 {
    font-size: 1rem;
}
.option-content h2 > span {
    font-size: 1rem;
    margin-left: .25rem;
}
.pledge-container {
    padding: 1.5rem 1.5rem;
    border-top: 1px solid hsl(0, 0%, 82%);
    display: none;
    opacity: 0;
    transition: all 0.2s linear;
}
.display-animation {
    opacity: 1;
}
.pledge-input-container {
    position: relative;
    width: 5rem;
    margin-right: .7rem;
}
.pledge-container input {
    width: 100%;
    height: 2.5rem;
    border-radius: 1.5rem;
    border: 1px solid var(--dark-gray);
    margin-right: 1rem;
    padding-block: 1rem;
    padding-inline: 1.8rem 1rem;
    font-size: .8rem;
    font-weight: 700;
}
.pledge-container input:focus {
    outline: 0;
    border: 1.5px solid var(--moderate-cyan);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.pledge-input-container > i {
    position: absolute;
    top: .87rem;
    left: 1.1rem;
    color: var(--dark-gray);
    font-size: .8rem;
}
.pledge-container p {
    font-size: .95rem;
}
.pledge-container .btn {
    padding: .8rem 1.5rem;
    background-color: var(--dark-cyan);
}

/* -------------SUCCESS MODAL--------------- */
.success-modal {
    max-width: 28rem;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.8rem;
    border-radius: .6rem;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}
.success-modal img {
    margin-block: .5rem 2.3rem;
}
.success-modal h1 {
    font-size: 1.3rem;
    margin-bottom: .5rem;
}
.success-modal p {
    font-size: .9rem;
    margin-bottom: 1.8rem;
    padding: .4rem;
}
.success-modal .btn {
    padding: .9rem 1.8rem;
}


/* --------------MEDIA QUERY-----------------------*/
@media screen and (max-width: 34.999rem) {
    body {
        background-image: url(./images/image-hero-mobile.jpg);
        background-size: contain;
    }
    .flex {
        place-items: center;
    }
    p {
        font-size: 1rem;
    }
    header {
        width: 100%;
        height: 50%;
        flex-wrap: nowrap !important;
        padding: 1rem 1.5rem;
    }
    .overlay {
        position: fixed;
        width: 100%;
        height: 80%;
        z-index: 1;
        background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.3) 77%, transparent);
        align-items: flex-start;
        top: 0;
        left: 0;
    }

    .nav-links {
        position: absolute;
        padding: 1.4rem 0;
        width: 85%;
        background-color: var(--white-color);
        top: 3rem;
        left: 2rem;
        margin-inline: auto;
        transform: translateY(-200%);
        z-index: 20;
        border-radius: .8rem;
        transition: transform 0.3s ease;
    }
    .nav-links-open {
        transform: translateY(0%);

    }
    .nav-links li {
        display: block;
    }
    .nav-links li:nth-child(2) {
        padding-block: 2.5rem;
    }
    .nav-links li a {
        color: var(--black);
        font-weight: 700;
        font-size: 1.1rem;
    }
    .mobile-nav-btn-container {
        display: block;
        background: url(./images/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center center;
        width: 1.2rem;
        aspect-ratio: 1;
        z-index: 1000;
    }
    .welcome-page-section {
        width: 90%;
        margin-top: 42%;
    }
    .intro-section {
        line-height: 1.1;
        padding-inline: 1.5rem;
    }
    .intro-section h1 {
        padding-block: 1rem;
    }
    .support-project-container .btn {
        padding: 1.2rem 2.4rem;
        font-size: 1.1rem;
    }
    .bookmark-container {
        flex-direction: space-between !important;
    }
    .bookmark-container p {
        display: none;
    }

    .progress-section {
        text-align: center;
    }
    .progress-container, .backers-progress {
        flex-direction: column;
    }
    .cash-progress {
        border: none;
        padding-right: 0;
        padding-bottom: .7rem;
    }
    .backers-progress {
        padding-left: 0;
    }
    .backers-progress p:first-child {
        padding-block: .5rem;
        border-top: 1px solid hsl(0, 0%, 82%);
        border-bottom: 1px solid hsl(0, 0%, 82%);
    }
    .backers-progress p:nth-child(2) {
        padding-top: .7rem;
    }
    
    /* ABOUT PROJECT SECTION */
    .about-project {
        padding-inline: 1.8rem;
    }
    .about-project article h1 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .about-project article p {
        font-size: .95rem;
    }
    .support-category {
        padding-inline: 1.5rem
    }
    .support-category h1 {
        font-size: 1rem;
    }
    .support-category h2 {
        font-size: 1.8rem;
    }
    .category-progress-container {
        flex-direction: column;
        align-items: flex-start;
    }


    /* MODALS*/
    .modal-container {
        top: 7rem;
        width: 90%;
        padding: 1.4rem;
    }
    .modal-header {
        line-height: 1.5;
    }
    .modal-header h1 {
        font-size: 1.1rem;
    }
    .container {
        margin-top: 1.5rem;
    }
    .option-content h1 > span {
        margin-left: 0;
        margin-top: .3rem;
        display: block;
    }
    .option-content p{
        margin-left: -2.3rem;
        margin-top: .5rem;
    }
    .pledge-container {
        text-align: center;
        justify-content: center;
    }
    .pledge-container p {
        margin-bottom: 1rem;
    }
    .pledge-container input {
        width: 6rem;
        height: 2.7rem;
    }
    .pledge-container .btn {
        padding: .9rem 1.4rem;
    }
    .pledge-input-container {
        width: 6.5rem;
    }
    .pledge-container input {
        font-size: .9rem;
    }
    .pledge-input-container > i {
        top: 1rem;
        font-size: .9rem;
    }
    .success-modal {
        width: 80%;
    }
}
@media screen and (min-width: 34rem) and (max-width: 54.69rem) {
    .welcome-page-section {
        width: 80%;
    }
}
@media screen and (min-width: 90rem) {
    .modal-container {
        position: fixed;
        top: 50%;
        left: 25%;
        transform: translateY(-50%);
        margin-inline: auto;
    }
}